<div class="align-self-center">  
    <div class="text">
        <p class="py-5 text-center">Samuel Kodytek zablokoval použití IFRAME. Všechny stížnosti posílejte na <b>samuel.kodytek@educanet.cz</b></p>
        <iframe src="https://www.youtube.com/embed/MnJCKbjcVhU?autoplay=1&mute=0" height="300px" width="500px"></iframe>
        <p class="py-5 text-center">Nastesti ted uz nemame sama, ale Martina Raketu Macuru, takze můžu znova použít :PPPP</p>
    </div>
</div>
    
<footer>Samuel těžce potrollil. Tohle je footer</footer>
