<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/rocco">DomovMůj</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Contact<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">O nas</a>
      </li>
      <li class="nav-item">
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <input [(ngModel)]="search">
  <div *ngFor="let option of filteredOptions" [routerLink]="option.path">
    {{option.title}}
  </div>
<router-outlet></router-outlet>
</div>
