<H2>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input [(ngModel)]="email" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Jmeno</label>
            <input [(ngModel)]="jmeno" name="jmeno" type="text" class="form-control" id="exampleInputPassword1" placeholder="Jmeno">
        </div>
        <div class="form-check">
            <label for="exampleInputPassword1">Zprava</label>
            <input [(ngModel)]="zpravy" name="zpravy" type="text" class="form-control" id="exampleInputPassword1" placeholder="Napis zpravu">
        </div>
        <button type="submit" class="btn btn-primary" (click)="posilam()">Poslat</button>
    </form>

    <img src="https://media.tenor.com/images/c464a84c55c834aaac80a826cd01f6e3/tenor.gif" alt="">
    <img src="https://media.tenor.com/images/c464a84c55c834aaac80a826cd01f6e3/tenor.gif" alt="">
    <img src="https://media.tenor.com/images/c464a84c55c834aaac80a826cd01f6e3/tenor.gif" alt="">
    <img src="https://media.tenor.com/images/c464a84c55c834aaac80a826cd01f6e3/tenor.gif" alt="">
    <img src="https://media.tenor.com/images/c464a84c55c834aaac80a826cd01f6e3/tenor.gif" alt="">

</H2>
<footer>Čau Martine, budem kamarádi? :)</footer>
